@model IEnumerable<BusinessLogic.DbModels.Song>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <audio></audio>

    <div class="col-md-6">

        <div class="row songs-list">
            <ul id="songs-list" class="list-group">
                @foreach (var song in Model)
                {
                    <li class="list-group-item">
                        <a href="#" class="song" data-song-id="@song.Id">@song.Name</a>
                    </li>
                }
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="button-div">
                    <span id="p-ff" class="glyphicon glyphicon-fast-forward player-button"></span>
                </div>
                <div class="button-div">
                    <span id="p-stop" class="glyphicon glyphicon-stop player-button"></span>
                </div>
                <div class="button-div">
                    <span id="p-pause" class="glyphicon glyphicon-pause player-button"></span>
                </div>
                <div class="button-div">
                    <span id="p-play" class="glyphicon glyphicon-play player-button"></span>
                </div>
                <div class="button-div">
                    <span id="p-fb" class="glyphicon glyphicon-fast-backward player-button"></span>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6 song-lyric">
        <span class="lyric-text"></span>
    </div>

</div>

@section scripts
{
    <script>
        $(function () {

            $("#songs-list").on("click", ".song", function () {
                var link = $(this);
                $(".song-lyric span").empty();
                $.ajax({
                    url: "/api/songs/" + link.attr("data-song-id"),
                    method: "GET",
                    success: function (song) {
                        $(".song-lyric span").text(song.Lyric);
                        $("audio").attr("src", song.Audio);
                        $("audio").load();
                        $("audio").trigger('play');
                    }
                });
                return false;
            });

        });
    </script>
}